body {
    width: 100vw;
    height: 100vh;
}

.box1 {
    width: calc(100% / 3);
    height: 100vh;
    background-color: #3399ff;
    float: left;
}

.box2 {
    width: calc(100% / 3);
    height: 100vh;
    background-color: #66ffcc;
    float: left;
}

.box3 {
    width: calc(100% / 3);
    height: 100vh;
    background-color: #ccff99;
    float: left;
    }

.box4 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: calc(100% / 3);
    height: 20vh;
    background-color: #ff0000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}